<section class="page-section">
  <div class="container">
    <h2 class="section-title">{{ 'successCases.title' | translate }}</h2>
    <p class="section-subtitle">{{ 'successCases.description' | translate }}</p>

    <!-- Filtros -->
    <div class="filter-button-group">
        <button class="filter-button" [class.active]="!selectedCategory" (click)="filterByCategory(null)">{{ 'successCases.sectors.all' | translate }}</button>
        <button *ngFor="let category of categories" class="filter-button" [class.active]="selectedCategory === category" (click)="filterByCategory(category)">
            {{ category  }}
        </button>
    </div>
    
    <!-- Grid de tarjetas -->
    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let caso of filteredCasos">
        <!-- Usamos la nueva clase .success-case-card -->
        <div class="success-case-card h-100">
          <div class="success-case-header">
            <div class="icon-container">
              <i class="fas fa-check-circle icon"></i>
            </div>
            <div>
              <h5 class="title">{{ caso.nombre }}</h5>
              <p class="date">{{ caso.cliente }} - {{ caso.periodo }}</p>
            </div>
          </div>
          
          <div class="detail-item">
            <strong>{{ 'successCases.labels.role' | translate }}:</strong>
            <p>{{ caso.rol }}</p>
          </div>

          <div class="detail-item">
            <strong>{{ 'successCases.labels.results' | translate }}:</strong>
            <p>{{ caso.resultados }}</p>
          </div>
<div class="detail-item">
            <strong>{{ 'successCases.labels.impactedUsers' | translate }}:</strong>
            <p>{{ caso.usuariosImpactados }}</p>
          </div>

          <div class="tag-list integration-badges ">
            <p> <strong>{{  "successCases.labels.technologies"  | translate }}:</strong><br></p>
            <span *ngFor="let tech of caso.stack" class="tag-accent">{{ tech }}</span>
          </div>
          <div class="tag-list">
            <p> <strong>{{  "successCases.labels.integrations"  | translate }}:</strong><br></p>
           
            <span *ngFor="let int of caso.integraciones" class="tag">{{ int }}</span>
          </div>
          <br>
            <div class="success-case-footer" style="display: flex; justify-content: space-between; align-items: center;">
              
              <a mat-raised-button class="btn-raised-primary" [routerLink]="['/casos-exito', caso.clave]">
                {{ 'successCases.labels.viewDemo' | translate }}
              </a>
              <span class="signature case-signature text-end small text-muted">
                #LionSystems
              </span>
            </div>
        </div>
      
      </div>
    </div>
  </div>
</section>
