.portfolio-section {
    background-color: #f9fafb;
  
    .card {
      border-radius: 1rem;
  
      img {
        object-fit: cover;
        height: 180px;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
      }
  
      .tech-list {
        span {
          font-size: 0.75rem;
        }
      }
    }
  }
  
  .btn-outline-primary {
  border-radius: 20px;
  font-weight: 500;
  transition: all 0.3s ease;

  &:hover {
    background-color: #0d6efd;
    color: #fff;
  }
}
