<section>
  <br>
  <br>
  <div class="container d-flex justify-content-center">
  <mat-card class="detalle-caso-card text-center">
    <h2 class="titulo-caso mat-title">{{ caso.nombre }}</h2>

    <div class="info-básica">
      <p><strong>Cliente:</strong> {{ caso.cliente }}</p>
      <p><strong>Periodo:</strong> {{ caso.periodo }}</p>
      <p><strong>Rol:</strong> {{ caso.rol }}</p>
    </div>

    <div class="chips-bloque">
    <p class="chips-label"><mat-icon>code</mat-icon> 
           <strong>&nbsp;&nbsp; Tecnologías:</strong></p>
      <mat-chip-set>
        <mat-chip *ngFor="let tech of caso.stack" color="primary" selected>{{ tech }}</mat-chip>
      </mat-chip-set>
    </div>

    <div class="chips-bloque">
      <p class="chips-label"><mat-icon>extension</mat-icon> <strong> &nbsp;&nbsp;Integraciones:</strong></p>
      <mat-chip-set>
        <mat-chip *ngFor="let int of caso.integraciones" color="accent" selected>{{ int }}</mat-chip>
      </mat-chip-set>
    </div>

    <div class="resultados-bloque">
      <p><mat-icon>insights</mat-icon> &nbsp;&nbsp;<strong> Resultados:</strong></p>
      <p class="mat-body-1 texto-resultado">{{ caso.resultados }}</p>
    </div>

    <div class="text-center mt-4">
      <button mat-raised-button color="primary" [routerLink]="['/contacto']">
  Solicita una solución similar
</button>
<br>
<br>
    </div>
  </mat-card>
</div>
</section>
