<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/logo-lion-2.webp" width="32" height="32" class="d-inline-block align-top me-2"
        alt="Lion Systems">
      Lion Systems
    </a>

    <button class="navbar-toggler" type="button" title="Mostrar menú" aria-label="Mostrar menú"
      data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a routerLink="/" class="nav-link">{{ 'navbar.home' | translate }}</a>
        </li>
        <li class="nav-item">
          <a routerLink="/servicios" class="nav-link">{{ 'navbar.services' | translate }}</a>
        </li>
        <li class="nav-item">
          <a routerLink="/casos-exito" class="nav-link">{{ 'navbar.successCases' | translate }}</a>
        </li>
        <li class="nav-item">
          <a routerLink="/nosotros" class="nav-link">{{ 'navbar.about' | translate }}</a>
        </li>
        <li class="nav-item">
          <a routerLink="/contacto" class="nav-link">{{ 'navbar.contact' | translate }}</a>

        </li>
        <li class="nav-item">
          <a routerLink="/aviso-privacidad" class="nav-link">{{ 'navbar.privacy' | translate }}</a>
        </li>
        <li class="nav-item">
          <a routerLink="/blog" class="nav-link">{{ 'navbar.blog' | translate }}</a>
        </li>
        <li class="nav-item">
        <a routerLink="/portafolio" routerLinkActive="active" class="nav-link">{{ 'navbar.portfolio' | translate }}</a>
      </li>

      </ul>
    </div>
  </div>
</nav>