

<header>
  <!-- <img  src="/assets/images/b607ffc1-f263-4522-9fc3-64c23b5ac11b.webp" alt="Logo Empresa XYZ"> -->
  <mat-toolbar style="background-color: #003366; color: #ffffff">
    <span class="example-spacer"></span
    ><button
      mat-mini-fab
      color="primary"
      class="example-header-image"
      aria-label="Example icon button with a menu icon"
    ></button>

    <span class="example-spacer"></span>
    <span
      ><a href="#inicio" style="text-decoration: none; color: #ffffff">
        Inicio</a
      ></span
    >
    <span class="example-spacer"></span>
    <span
      ><a href="#servicios" style="text-decoration: none; color: #ffffff"
        >Servicios</a
      ></span
    >
    <span class="example-spacer"></span>
    <span
      ><a href="#sobre-nosotros" style="text-decoration: none; color: #ffffff"
        >Sobre Nosotros</a
      ></span
    >
    <span class="example-spacer"></span>
    <span
      ><a href="#blog" style="text-decoration: none; color: #ffffff"
        >Blog</a
      ></span
    >
    <span class="example-spacer"></span>
    <span
      ><a href="#contacto" style="text-decoration: none; color: #ffffff"
        >Contacto</a
      ></span
    >
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</header>

<section id="inicio">
  <h1>Bienvenidos a Lion Systems</h1>
  <p>
    Soluciones innovadoras en la nube, desarrollo de software, ciberseguridad e
    inteligencia artificial.
  </p>
  <p>
    Lion Systems es una compañía innovadora en el campo de las Tecnologías de la
    Información, especializada en una variedad de servicios clave para empresas
    modernas.
  </p>
  <p>
    Nuestro enfoque se centra en proporcionar soluciones tecnológicas avanzadas
    y competitivas a nuestros clientes.
  </p>

  <!-- Carrusel de imágenes aquí -->
  <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="3"
        aria-label="Slide 4"
      ></button>
      <button
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide-to="4"
        aria-label="Slide 5"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="/assets/images/tittlePrincipal.png"
          class="d-block w-100"
          alt="..."
        />
        <!-- <img src="/assets/images/leonMetalicoCircuitosLuces.png" class="d-block w-100" alt="..."> -->
        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></svg> -->
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Example headline.</h1>
            <p class="opacity-75">
              Some representative placeholder content for the first slide of the
              carousel.
            </p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
              Súbete a la nube.
              <span class="text-body-secondary">It’ll blow your mind.</span>
            </h2>
            <p class="lead">
              Some great placeholder content for the first featurette here.
              Imagine some exciting prose here.
            </p>
          </div>
          <div class="col-md-5">
            <img
              src="/assets/images/e6a8e9ed-d171-455a-a140-719934c36185.webp"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">
              Fábrica de Software.
              <span class="text-body-secondary"
                >Desarrollo y Mantenimiento de Sistemas.</span
              >
            </h2>
            <p class="lead">
              Another featurette? Of course. More placeholder content here to
              give you an idea of how this layout would work with some actual
              real-world content in place.
            </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img
              src="/assets/images/68ca265d-1ae9-4bb9-b750-c092d3c8f11d.webp"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">
              Ciberseguridad.
              <span class="text-body-secondary">Checkmate.</span>
            </h2>
            <p class="lead">
              And yes, this is the last block of representative placeholder
              content. Again, not really intended to be actually read, simply
              here to give you a better view of what this would look like with
              some actual content. Your content.
            </p>
          </div>
          <div class="col-md-5">
            <img
              src="/assets/images/1c9f587a-ee4b-455c-b676-2c1235970edf.webp"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">
              Inteligencia Artificial.
              <span class="text-body-secondary">See for yourself.</span>
            </h2>
            <p class="lead">
              Another featurette? Of course. More placeholder content here to
              give you an idea of how this layout would work with some actual
              real-world content in place.
            </p>
          </div>
          <div class="col-md-5 order-md-1">
            <img
              src="/assets/images/9bbefa54-011a-4f77-9794-c8345dfcf946.webp"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<mat-divider></mat-divider>

<section id="servicios">
  <h2>Nuestros Servicios</h2>
  <div class="servicio">
    <h3><strong>Implementaciones en la Nube</strong></h3>
    <p>
      Ofrecemos soluciones avanzadas en la nube, enfocándose en proporcionar
      arquitecturas escalables y seguras. Estas soluciones permiten a las
      empresas mejorar su eficiencia operativa y reducir costos, aprovechando la
      flexibilidad y el poder de la computación en la nube. El enfoque de Lion
      Systems en la seguridad garantiza que los datos y aplicaciones de los
      clientes estén protegidos en todo momento.
    </p>
    <p>
      Posicionamiento a la vanguardia de la innovación tecnológica. Investiga y
      adopta constantemente nuevas tecnologías, como la inteligencia artificial
      y el aprendizaje automático, para ofrecer soluciones avanzadas y
      competitivas en el mercado.
    </p>
    <!-- Imagen o gráfico relacionado -->
    <img
      src="/assets/images/ce9f18f0-1e7d-4077-990f-33526d21d424.webp"
      class="d-block w-100"
      alt="..."
    />
  </div>
  <mat-divider></mat-divider>

  <div class="servicio">
    <h3><strong>Ciberseguridad</strong></h3>
    <p>
      Consciente de la importancia de la seguridad de la información, Lion
      Systems ofrece servicios integrales de ciberseguridad. Estos servicios
      incluyen evaluaciones de riesgos, implementación de soluciones de
      seguridad avanzadas, y capacitación en conciencia de seguridad para
      minimizar el riesgo de ataques cibernéticos y proteger los activos
      digitales de los clientes.
    </p>
    <!-- Imagen o gráfico relacionado -->
    <img
      src="/assets/images/1da0258c-461d-46ba-a6d5-e57549b214a0.webp"
      class="d-block w-100"
      alt="..."
    />
  </div>
  <mat-divider></mat-divider>

  <div class="servicio">
    <h3><strong>Desarrollo de software</strong></h3>
    <p>
      La compañía se especializa en el desarrollo de software personalizado,
      cubriendo desde aplicaciones empresariales hasta soluciones móviles.
      Utilizando metodologías ágiles y prácticas de DevOps, Lion Systems asegura
      la entrega rápida y eficiente de software que cumple con las necesidades
      específicas de cada cliente.
    </p>
    <p>
      Lion Systems adopta un enfoque de fábrica de software para el desarrollo,
      lo que permite una producción de software estandarizada y eficiente. Este
      enfoque garantiza la entrega de productos de alta calidad, optimizando los
      recursos y acortando los tiempos de desarrollo.
    </p>
    <!-- Imagen o gráfico relacionado 279aac78-204a-4b4e-a9cb-687ce6f0d2bd.webp-->
    <img
      src="/assets/images/279aac78-204a-4b4e-a9cb-687ce6f0d2bd.webp"
      class="d-block w-100"
      alt="..."
    />
  </div>
  <div class="servicio">
    <h3><strong>Implementación de ERP - CRM para tu negocio </strong></h3>

    <p>
      La empresa promueve el uso y desarrollo de soluciones de software de
      código abierto. Esto no solo fomenta la innovación y la colaboración
      dentro de la comunidad de desarrolladores, sino que también ofrece a los
      clientes soluciones flexibles y personalizables.
    </p>
    <p>
      Todo tu negocio en una sola plataforma. ¡Sencillo, eficiente y a buen
      precio!
    </p>
    <!-- Imagen o gráfico relacionado 279aac78-204a-4b4e-a9cb-687ce6f0d2bd.webp-->
    <img src="/assets/images/odoo.png" class="d-block w-100" alt="..." />
  </div>
  <!-- Repetir para cada servicio -->
</section>
<mat-divider></mat-divider>

<section id="sobre-nosotros">
  <h2>Sobre Nosotros</h2>
  <p>Nuestra historia comienza en</p>
</section>
<mat-divider></mat-divider>

<!-- Sección Quiénes Somos -->
<section id="quienes-somos" style="background-color: #ffffff; color: #003366">
  <div class="container">
    <h2>Quiénes Somos</h2>
    <p>
      Somos una empresa líder en el ámbito de las Tecnologías de la Información,
      especializada en implementaciones en la Nube, Desarrollo de Software,
      Ciberseguridad e Inteligencia Artificial. Nuestro enfoque se centra en
      innovar y proporcionar soluciones tecnológicas avanzadas a nuestros
      clientes.
    </p>
  </div>
</section>
<mat-divider></mat-divider>

<!-- Sección Misión -->
<section id="mision" style="background-color: #d3d3d3; color: #003366">
  <div class="container">
    <h2>Misión</h2>
    <p>
      Nuestra misión es ofrecer soluciones tecnológicas de vanguardia que
      impulsen el crecimiento y la eficiencia de nuestros clientes, garantizando
      la seguridad, la confiabilidad y la innovación en cada uno de nuestros
      proyectos.
    </p>
  </div>
</section>
<mat-divider></mat-divider>

<!-- Sección Visión -->
<section id="vision" style="background-color: #ffffff; color: #003366">
  <div class="container">
    <h2>Visión</h2>
    <p>
      Aspiramos a ser reconocidos como líderes globales en soluciones
      tecnológicas, destacándonos por nuestra capacidad de adaptación a los
      cambios y desafíos del mercado, siempre a la vanguardia en la
      implementación de nuevas tecnologías.
    </p>
  </div>
</section>
<mat-divider></mat-divider>

<!-- Sección Valores -->
<section id="valores" style="background-color: #d3d3d3; color: #003366">
  <div class="container">
    <h2>Valores</h2>
    <mat-list>
      <mat-list-item>
        <span matListItemTitle>Innovación:</span>
        <span matListItemLine
          >Estamos en constante búsqueda de nuevas ideas y tecnologías.</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>Integridad:</span>
        <span
          >Actuamos con honestidad y transparencia en todas nuestras
          acciones.</span
        >
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span matListItemTitle>Compromiso con el Cliente:</span>
        La satisfacción del cliente es nuestra principal prioridad.
      </mat-list-item>
      <mat-divider></mat-divider>

      <mat-list-item lines="3">
        <span matListItemTitle>Excelencia:</span>
        <span
          >Nos esforzamos por alcanzar la máxima calidad en todos nuestros
          servicios. Nuestro personal se encuentra capacitado en las áreas de
          conocimiento necesarias para su buen desempeño.
        </span>
      </mat-list-item>
    </mat-list>
  </div>
</section>
<mat-divider></mat-divider>

<section id="blog">
  <h2>Blog</h2>
  <article>
    <h3><b>Ciberseguridad:</b> Fortaleciendo las Defensas en la Era Digital</h3>
    <p>
      En un mundo cada vez más digitalizado, la ciberseguridad se ha convertido
      en una prioridad máxima para las empresas. Con la creciente sofisticación
      de los ataques cibernéticos, es fundamental que los directivos de TI
      comprendan y apliquen estrategias robustas de ciberseguridad.
    </p>
    <p>
      <b>Se requiere</b> Implementar una estrategia integral de ciberseguridad
      es esencial para proteger los activos digitales de la empresa y mantener
      la confianza de los clientes.
    </p>
    <!-- Link al artículo completo -->
    <a
      mat-raised-button
      href="https://www.google.com/"
      target="_blank"
      rel="noopener"
      >Ver el artículo completo</a
    >
  </article>
  <!-- Repetir para cada artículo -->
  <br />
  <mat-divider></mat-divider>

  <article>
    <h3>
      <b>Impulsando la Innovación Tecnológica:</b> Claves para Directivos de TI
    </h3>
    <p>
      La innovación tecnológica es el motor que impulsa el éxito empresarial en
      la era digital. Para los directivos de TI, fomentar un entorno de
      innovación continua es crucial para mantenerse competitivos.
    </p>
    <p>
      <b>La solución para</b> Mantenerse a la vanguardia de la innovación
      tecnológica es esencial para el crecimiento y la sostenibilidad a largo
      plazo de la empresa.
    </p>
    <!-- Link al artículo completo -->
    <a
      mat-raised-button
      href="https://www.google.com/"
      target="_blank"
      rel="noopener"
      >Ver el artículo completo</a
    >
  </article>
  <br />
  <mat-divider></mat-divider>

  <article>
    <h3>
      <b>Arquitectura en la Nube y Desarrollo de Software:</b> Estrategias para
      una Transformación Exitosa
    </h3>
    <p>
      La adopción de arquitecturas en la nube y prácticas de desarrollo de
      software modernas es clave para las empresas que buscan mejorar su
      agilidad y eficiencia operativa.
    </p>
    <p>
      <b>Cómo</b> Adoptar una estrategia efectiva de arquitectura en la nube y
      desarrollo de software es crucial para la transformación digital y el
      éxito a largo plazo.
    </p>
    <!-- Link al artículo completo -->
    <a
      mat-raised-button
      href="https://www.google.com/"
      target="_blank"
      rel="noopener"
      >Ver el artículo completo</a
    >
  </article>
</section>
<mat-divider></mat-divider>

<section id="contacto">
  <h2>Contacto</h2>
  <p>
    Si tienes preguntas o necesitas más información, no dudes en contactarnos.
  </p>
  <form action="submit.php" method="post">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        required
        pattern="[A-Za-z ]{2,50}"
      />
    </div>
    <div class="form-group">
      <label for="correo">Correo Electrónico:</label>
      <input type="email" id="correo" name="correo" maxlength="65" required />
    </div>
    <div class="form-group">
      <label for="telefono">Teléfono:</label>
      <input
        type="tel"
        id="telefono"
        name="telefono"
        required
        pattern="[0-9]{10}"
      />
    </div>
    <div class="form-group">
      <label for="comentarios">Comentarios:</label>
      <textarea
        id="comentarios"
        name="comentarios"
        rows="4"
        required
      ></textarea>
    </div>
    <button type="submit" class="btn-enviar">Enviar</button>
  </form>
</section>

<footer>
  <p>&copy; 2023 Lion Systems. Todos los derechos reservados.</p>
</footer>
