<section class="hero-section d-flex align-items-center">
  <div class="background-image"></div>
  <div class="container text-center position-relative">
    <h2 class="display-5 fw-bold mb-3 text-white text-shadow">
      {{ "home.cta.heading" | translate }}
    </h2>
    <p class="lead text-light text-shadow">
      {{ "home.cta.subtext" | translate }}
    </p>
    <a
      mat-raised-button
      (click)="logCTA()"
      color="primary"
      routerLink="/contacto"
      class="btn btn-primary btn-lg mt-3"
      >{{ "home.cta.button" | translate }}</a
    >
  </div>
</section>

<section>
  <div class="container services-section text-center position-relative">
    <h1 class="section-title text-center">
      {{ "home.title" | translate }}
    </h1>
    <div class="section-subtitle text-center mb-4">
       {{ "home.description" | translate }}
    </div>
  </div>
</section>

<section class="services-section">
  <div class="container">
    <h2 class="section-title text-center">
      {{ "services.title" | translate }}
    </h2>
    <div class="section-subtitle text-center mb-4">
      {{ "services.description" | translate }}
    </div>

    <!-- Ajuste clave aquí con d-flex y justify-content-center -->
    <div class="d-flex flex-wrap justify-content-center gap-3">
      <div
        *ngFor="let s of servicios"
        class="card p-3 text-center shadow-sm service-card"
        style="width: 280px; min-height: 220px"
      >
        <div class="icon mb-3">
          <mat-icon style="font-size: 40px">{{ s.icono }}</mat-icon>
        </div>
        <h5 class="service-title">{{ s.nombre }}</h5>
        <p class="service-description">{{ s.descripcion }}</p>
      </div>
    </div>
  </div>
</section>
<section class="trust-section py-5 bg-white text-center">
  <div class="container">
    <h2 class="mb-4">Confían en nosotros</h2>
    <div class="row justify-content-center align-items-center">
      <div class="col-4 col-md-2 mb-3">
        <img src="assets/images/logos/sep.png" class="img-fluid" alt="SEP" />
      </div>
      <div class="col-4 col-md-2 mb-3">
        <img
          src="assets/images/logos/morena.png"
          class="img-fluid"
          alt="Morena"
        />
      </div>
      <div class="col-4 col-md-2 mb-3">
        <img
          src="assets/images/logos/diputados.png"
          class="img-fluid"
          alt="Cámara de Diputados"
        />
      </div>
      <div class="col-4 col-md-2 mb-3">
        <img src="assets/images/logos/axa.png" class="img-fluid" alt="Axa" />
      </div>
      <div class="col-4 col-md-2 mb-3">
        <img src="assets/images/logos/bbva.png" class="img-fluid" alt="BBVA" />
      </div>
      <div class="col-4 col-md-2 mb-3">
        <img
          src="assets/images/logos/digipro.png"
          class="img-fluid"
          alt="Digipro"
        />
      </div>
      <div class="col-4 col-md-2 mb-3">
        <img
          src="assets/images/logos/santander.png"
          class="img-fluid"
          alt="Santander"
        />
      </div>
      <div class="col-4 col-md-2 mb-3">
        <img
          src="assets/images/logos/Kodit.png"
          class="img-fluid"
          alt="Kodit"
        />
      </div>
      <div class="col-4 col-md-2 mb-3">
        <img
          src="assets/images/logos/invex.png"
          class="img-fluid"
          alt="invex"
        />
      </div>
    </div>
  </div>
</section>
