
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ng-web-site-ti-company-primary: mat.define-palette(mat.$indigo-palette);
$ng-web-site-ti-company-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ng-web-site-ti-company-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ng-web-site-ti-company-theme: mat.define-light-theme((
  color: (
    primary: $ng-web-site-ti-company-primary,
    accent: $ng-web-site-ti-company-accent,
    warn: $ng-web-site-ti-company-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ng-web-site-ti-company-theme);


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-bottom: 0.75rem;
}

mat-icon {
  font-size: 48px;
}
.service-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  padding: 2rem 1rem;
  border-radius: 1rem;
  background-color: #ffffff;
  transition: box-shadow 0.3s ease;
  
  mat-icon {
    font-size: 56px;
    height: 56px;
    width: 56px;
    color: #0077b6; // azul institucional
    margin-bottom: 1rem;
  }

  &:hover {
    box-shadow: 0 0.5rem 1.5rem rgba(0, 119, 182, 0.2);
  }
}

.text-primary {
  color: #002147 !important;
  font-size: 2.5rem !important;
}

h1.section-title {
  font-weight: 700;
  border-bottom: 2px solid #0dcaf0;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  color: #002147;
  text-align: center;
}

h2.section-title {
  font-weight: 600;
  border-bottom: 2px solid #0dcaf0;
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  color: #002147;
  text-align: center;
}
.snackbar-success {
    // background-color: #198754;
    color: #fff;
    font-weight: bold;
  }
  
  .snackbar-warning {
    // background-color: #dc3545;
    color: #fff;
    font-weight: bold;
  }
header {
    background-color: #003366;
    color: #FFFFFF;
    padding: 10px 0;
}

header img {
    width: 150px;
    /* Ajustar según el logo */
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

.servicio {
    background-color: #D3D3D3;
    margin-bottom: 20px;
    padding: 10px;
}

footer {
    background-color: #009688;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
